name: System Status

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements_test.txt
      - name: Test with pytest
        env:
          TEST_EMAIL: ${{ secrets.TEST_EMAIL }}
          TEST_PASSWORD: ${{ secrets.TEST_PASSWORD }}
          TEST_DEVICE_AC: ${{ secrets.TEST_DEVICE_AC }}
          TEST_DEVICE_DH: ${{ secrets.TEST_DEVICE_DH }}
        run: |
          python -m pytest --reruns 2 tests/test_integration.py::TestAWSAPILogin::test_api